<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>
<body>
<script>
$.ajaxSetup({
    contentType : 'application/json',
    processData : false
});

$.ajaxPrefilter (function(options, originalOptions, jqXHR) {
    if (options.data) {
        options.data=JSON.stringify(options.data);
    }
});

function get_message(mes_id, func){
    // TODO Implement caching
    $.get("/api/message/"+mes_id,func)


}
function renderSubmessage(mes_id,start,stop, div){
    

    
    get_message(mes_id,function(data){
        var mess =data['message'];
        divinn = document.createElement("div")
        divinn.style.backgroundColor="green"

        divinn.textContent =mess.substring(start,stop)
        div.appendChild(divinn)



    })


}

function renderMessage (message,div){

   regexp =/>>([0-9]+)\{([0-9]+):([0-9]+)\}/g

   prev =0
   while(match =regexp.exec(message)){

        console.log(match)
        divinner = document.createElement("div")
        divinner.textContent=message.substring(prev,match.index)
        prev = match.index + match[0].length
        div.appendChild(divinner)
        renderSubmessage(match[1],match[2],match[3],divinner)

    }
    divinner = document.createElement("div")
    divinner.textContent=message.substring(prev,message.length)
    div.appendChild(divinner)  

}

function setMessage(div,mes_id){

    get_message(mes_id,function(data){
        renderMessage(data.message,div)        
    })
}


function searchChange () {

    var words = $("#searchmess")[0].value.split(" ")
    $.ajax({url:"/api/search", type:"PUT", data:{words:words}, success: function(data) { 

        var tableres = $("#results");
        tableres.empty();
        data.citation.forEach(function(wordid) {

            var div = document.createElement("div")
         
            var td = document.createElement("td")
            td.appendChild(div) 
            var tr = document.createElement("tr")            
            tr.appendChild(td)
            
            tableres.append(tr);

            setMessage(div,wordid)
        });
    }

    });
}


</script>

<table id="results">
</table>

<input type="text" id="searchmess" onkeypress="searchChange()" />

</body>
</html>
