<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>
<body>
<script>
$.ajaxSetup({
    contentType : 'application/json',
    processData : false
});

$.ajaxPrefilter (function(options, originalOptions, jqXHR) {
    if (options.data) {
        options.data=JSON.stringify(options.data);
    }
});

function setMessage(div,mes_id){

    $.get("/api/message/"+mes_id,function(data){
        div.textContent = data.message        
    })
   

}


function searchChange () {
    $.ajax({url:"/api/search", type:"PUT", data:{words:['a','b']}, success: function(data) { 
        var tableres = $("#results");
        tableres.empty();
        data.citation.forEach(function(wordid) {

            var div = document.createElement("div")
         
            var td = document.createElement("td")
            td.appendChild(div) 
            var tr = document.createElement("tr")            
            tr.appendChild(td)
            
            tableres.append(tr);

            setMessage(div,wordid)
        });
    }

    });
}


</script>

<table id="results">
</table>

<input type="text" id="searchmess" onkeypress="searchChange()" />

</body>
</html>
